gpg:&nbsp;Signature&nbsp;made&nbsp;2018-01-23T01:28:44&nbsp;CET<br/>
gpg:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;using&nbsp;RSA&nbsp;key&nbsp;05469FB85EAD6589B43D41D3D21DAD38AF281C0B<br/>
gpg:&nbsp;Good&nbsp;signature&nbsp;from&nbsp;"Tails&nbsp;developers&nbsp;&lt;tails@boum.org&gt;"&nbsp;[undefined]<br/>
gpg:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aka&nbsp;"Tails&nbsp;developers&nbsp;(offline&nbsp;long-term&nbsp;identity&nbsp;key)&nbsp;&lt;tails@boum.org&gt;"&nbsp;[full]<br/>
Primary&nbsp;key&nbsp;fingerprint:&nbsp;A490&nbsp;D0F4&nbsp;D311&nbsp;A415&nbsp;3E2B&nbsp;&nbsp;B7CA&nbsp;DBB8&nbsp;02B2&nbsp;58AC&nbsp;D84F<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subkey&nbsp;fingerprint:&nbsp;0546&nbsp;9FB8&nbsp;5EAD&nbsp;6589&nbsp;B43D&nbsp;&nbsp;41D3&nbsp;D21D&nbsp;AD38&nbsp;AF28&nbsp;1C0B<br/>
