<div id="activate-tails-verification"></div> <!-- Needed to activate the verification extension -->
<div id="extension-version">0.95</div> <!-- Minimum version of the extension -->

<h1 class="debian windows linux mac-usb mac-dvd dvd vm upgrade-tails">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</h1>

<div class="row">

  <div id="direct-download" class="col-md-6"> <!-- Direct download -->
    <h2>Direct download</h2>

    <div class="supported-browser no-js">
      <div id="step-download-iso">
        <h3><span class="step-number"><span class="debian windows linux mac-usb mac-dvd upgrade-tails">1.</span>1</span>Download Tails</h3>
        <a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso" class="use-mirror-pool btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_iso_size" raw="yes" sort="age"]]</span>)</a>
        <p id="already-downloaded" class="indent"><a>I already downloaded Tails <span class="remove-extra-space">&nbsp;[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</span>.</a></p>
      </div>

      <div id="step-verify-direct">
        <h3><span class="step-number"><span class="debian windows linux mac-usb mac-dvd upgrade-tails">1.</span>2</span>Verify your download using your browser</h3>
        <div class="caution indent">
          <p><b>For your security,<br/>always verify your download!</b></p>
          <p class="floating-toggleable-link why-verify-link">[[!toggle id="why-verify-supported" text="Why?"]]</p>
          <div id="why-verify-supported" class="floating-toggleable">
          [[!toggleable id="why-verify-supported" text="""
          [[!toggle id="why-verify-supported" text="X"]]
          <p>With an unverified download, you might:</p>
          <ul>
            <li>Lose time if your download is incomplete or broken due to an error during the download.
                This is quite frequent.</li>
            <li>Get hacked while using Tails if our download mirrors have been compromised and are serving malicious downloads.<br/>
                <a href="http://blog.linuxmint.com/?p=2994">This already happened to other operating systems.</a></li>
            <li>Get hacked while using Tails if your download is modified on the fly by an attacker on the network.<br/>
                <a href="https://en.wikipedia.org/wiki/DigiNotar">This is possible for strong adversaries.</a></li>
          </ul>
          <p>[[How does the extension work?|contribute/design/verification_extension]]</p>
          """]]
          </div>
          <p>Our browser extension makes it quick and easy.</p>
        </div>
        <div id="install-extension" class="indent">
          <a href="https://addons.mozilla.org/firefox/downloads/latest/tails-verification/addon-tails-verification-latest.xpi" class="install-extension-btn supported-browser firefox btn btn-primary inline-block">Install <u>Tails Verification</u> extension</a>
          <a class="install-extension-btn supported-browser chrome btn btn-primary inline-block">Install <u>Tails Verification</u> extension</a>
          <div class="no-js">
            <p>You seem to have JavaScript disabled. To use our browser
               extension, please allow all this page:</p>
            [[!img screenshots/allow_js.png link="no"]]
          </div>
        </div>
        <div id="update-extension" class="indent block">
          <p>Your extension is an older version.</p>
          <a href="https://addons.mozilla.org/firefox/downloads/latest/tails-verification/addon-tails-verification-latest.xpi" class="install-extension-btn firefox btn btn-primary inline-block">Update extension</a>
          <a class="install-extension-btn chrome btn btn-primary inline-block">Update extension</a>
        </div>
        <div id="verification" class="indent block">
          <p id="extension-installed" class="block"><u>Tails Verification</u> extension installed!</p>
          <label id="verify-download-wrapper" class="btn btn-primary inline-block">
            Verify Tails <span class="remove-extra-space">&nbsp;[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</span>&hellip;
            <input id="verify-download" type="file"/>
          </label>
          <div id="verifying-download" class="indent block">
            <p>Verifying <span id="filename">$FILENAME</span>&hellip;</p>
            <div class="progress">
              <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <p id="verification-successful" class="block">Verification successful!</p>
          <div id="verification-failed" class="block">
            <p><b>Verification failed!</b></p>
            <p class="floating-toggleable-link why-failed-link">[[!toggle id="why-failed" text="Why?"]]</p>
            <div id="why-failed" class="floating-toggleable">
            [[!toggleable id="why-failed" text="""
            [[!toggle id="why-failed" text="X"]]
            <p>Most likely, the verification failed because of an error
            or interruption during the download.</p>

	    <p>The verification also fails if you try to verify a different
            download than the latest version (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</span>).</p>

            <p>Less likely, the verification might have failed because
            of a malicious download from our download mirrors or due to
            a network attack in your country or local network.</p>

            <p>Downloading again is usually enough to fix this
            problem.</p>

            <p>[[How does the extension work?|contribute/design/verification_extension]]</p>
            """]]
            </div>
            <p><a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso-again" class="use-mirror-pool">Please try to download again&hellip;</a></p>
          </div>
          <div id="verification-failed-again" class="block">
            <p><b>Verification failed again!</b></p>
            <p class="floating-toggleable-link why-failed-again-link">[[!toggle id="why-failed-again" text="Why?"]]</p>
            <div id="why-failed-again" class="floating-toggleable">
            [[!toggleable id="why-failed-again" text="""
            [[!toggle id="why-failed-again" text="X"]]
            <p>The verification might have failed again because of:</p>
            <ul>
              <li>A software problem in our verification extension</li>
              <li>A malicious download from our download mirrors</li>
              <li>A network attack in your country or local network</li>
            </ul>
            <p>Trying from a different place or a different computer might solve any of these issues.</p>
            """]]
            </div>
            <p>Please try to download again from a different place or a different computer&hellip;</p>
          </div>
        </div>
      </div>

      <div id="step-continue-direct">
        <h3><span class="step-number"><span class="debian windows linux mac-usb mac-dvd upgrade-tails">1.</span>3</span>Continue
          <span class="debian windows linux mac-usb mac-dvd">installing</span>
          <span class="upgrade-tails">upgrading</span>
          <span class="download-only">installing or upgrading</span></h3>
      </div>
      <div id="continue-link-direct" class="indent">
        <div id="skip-download-direct">
          <span class="debian">[[Skip download|debian/usb]]</span>
          <span class="windows">[[Skip download|win/usb]]</span>
          <span class="linux">[[Skip download|linux/usb]]</span>
          <span class="mac-usb">[[Skip download|mac/usb]]</span>
          <span class="mac-dvd">[[Skip download|mac/dvd]]</span>
          <span class="dvd">[[Skip download|dvd]]</span>
          <span class="vm">[[Skip download|doc/advanced_topics/virtualization]]</span>
          <span class="upgrade-tails">[[Skip download|upgrade/tails]]</span>
        </div>
        <div id="skip-verification-direct" class="block">
          <div class="debian">[[Skip verification!|debian/usb]]</div>
          <div class="windows">[[Skip verification!|win/usb]]</div>
          <div class="linux">[[Skip verification!|linux/usb]]</div>
          <div class="mac-usb">[[Skip verification!|mac/usb]]</div>
          <div class="mac-dvd">[[Skip verification!|mac/dvd]]</div>
          <div class="dvd">[[Skip verification!|dvd]]</div>
          <div class="vm">[[Skip verification!|doc/advanced_topics/virtualization]]</div>
          <div class="upgrade-tails">[[Skip verification!|upgrade/tails]]</div>
        </div>
        <div id="next-direct">
          <div class="debian">[[<div class="btn btn-primary inline-block">Next: Install <em>Tails Installer</em> (<span class="next-counter"></span>)</div>|debian/usb]]</div>
          <div class="windows">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|win/usb]]</div>
          <div class="linux">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|linux/usb]]</div>
          <div class="mac-usb">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|mac/usb]]</div>
          <div class="mac-dvd">[[<div class="btn btn-primary inline-block">Next: Burn a Tails DVD (<span class="next-counter"></span>)</div>|mac/dvd]]</div>
          <div class="upgrade-tails">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|upgrade/tails]]</div>
          <div class="dvd">[[<div class="btn btn-primary inline-block">Next: Burning Tails on a DVD</div>|dvd]]</div>
          <div class="vm">[[<div class="btn btn-primary inline-block">Next: Virtualization</div>|doc/advanced_topics/virtualization]]</div>
          <ul class="download-only">
            <li>[[Install from Windows|install/win/usb]]</li>
            <li>[[Install from Debian, Ubuntu, or Mint|install/debian/usb]]</li>
            <li>[[Install from other Linux distributions|install/linux/usb]]</li>
            <li>[[Install from macOS by burning a DVD first|install/mac/dvd]]</li>
            <li>[[Install from macOS and the command line|install/mac/usb]]</li>
            <li>[[Burn on a DVD|dvd]]</li>
            <li>[[Run in a virtual machine|doc/advanced_topics/virtualization]]</li>
            <li>[[Upgrade inside Tails|upgrade/tails]]</li>
          </ul>
        </div>
      </div>
    </div> <!-- Supported browser & No JS -->

    <div class="outdated-browser unsupported-browser">
      <p>You are using <u><b><span id="detected-browser">$DETECTED-BROWSER</span></b></u>.</p>
      <p>Direct download is only available for:</p>
      <ul>
        <li>Firefox <span id="min-version-firefox">$MINVER-FIREFOX</span> and later (<a href="https://www.mozilla.org/firefox/new/">Download</a>)</li>
        <li>Chrome<span id="min-version-chrome">$MINVER-CHROME</span> and later (<a href="https://www.google.com/chrome/">Download</a>)</li>
        <li>Tor Browser <span id="min-version-tor-browser">$MINVER-TOR-BROWSER</span> and later (<a href="https://www.torproject.org/download/download-easy.html">Download</a>)</li>
      </ul>
    </div>
    <div class="outdated-browser">
      <p>Please update your browser to the latest version.</p>
    </div>
    <div class="unsupported-browser">
      <div class="caution">
        <p><b>For your security,<br/>always verify your download!</b></p>
        <p class="floating-toggleable-link why-verify-link">[[!toggle id="why-verify-unsupported" text="Why?"]]</p>
        <div id="why-verify-unsupported" class="floating-toggleable">
        [[!toggleable id="why-verify-unsupported" text="""
        [[!toggle id="why-verify-unsupported" text="X"]]
        <p>With an unverified download, you might:</p>
        <ul>
          <li>Lose time if your download is incomplete or broken due to an error during the download.
              This is quite frequent.</li>
          <li>Get hacked while using Tails if our download mirrors have been compromised and are serving malicious downloads.<br/>
              <a href="http://blog.linuxmint.com/?p=2994">This already happened to other operating systems.</a></li>
          <li>Get hacked while using Tails if your download is modified on the fly by an attacker on the network.<br/>
              <a href="https://en.wikipedia.org/wiki/DigiNotar">This is possible for strong adversaries.</a></li>
        </ul>
        <p>[[How does the extension work?|contribute/design/verification_extension]]</p>
        """]]
        </div>
        <p>Our browser extension for Firefox, Chrome, and Tor Browser makes this quick and easy.</p>
      </div>
      <p>Copy and paste this link in Firefox, Chrome, or Tor Browser:</p>
      <p class="debian"><code>https://tails.boum.org/install/debian/usb-download/</code></p>
      <p class="windows"><code>https://tails.boum.org/install/win/usb-download/</code></p>
      <p class="linux"><code>https://tails.boum.org/install/linux/usb-download/</code></p>
      <p class="mac-usb"><code>https://tails.boum.org/install/mac/usb-download/</code></p>
      <p class="mac-dvd"><code>https://tails.boum.org/install/mac/dvd-download/</code></p>
      <p class="upgrade-tails"><code>https://tails.boum.org/upgrade/tails-download/</code></p>
      <p class="dvd"><code>https://tails.boum.org/install/dvd-download/</code></p>
      <p class="vm"><code>https://tails.boum.org/install/vm-download/</code></p>
      <p class="download-only"><code>https://tails.boum.org/install/download/</code></p>
    </div> <!-- Outdated browser -->
  </div> <!-- Direct download -->

  <div id="bittorrent-download" class="col-md-6">
    <h2>BitTorrent download</h2>
    <p class="floating-toggleable-link what-is-bittorrent-link">[[!toggle id="what-is-bittorrent" text="What is BitTorrent?"]]</p>

    <div id="what-is-bittorrent" class="floating-toggleable">
    [[!toggleable id="what-is-bittorrent" text="""
    [[!toggle id="what-is-bittorrent" text="X"]]
    <p>BitTorrent is a peer-to-peer technology for file sharing that makes your
    download faster and easier to resume.</p>

    <p>You need to install BitTorrent software on your computer, like
    <a href="https://transmissionbt.com/">Transmission</a> (for Windows, macOS, and Linux).</p>

    <p>BitTorrent doesn't work over Tor or in Tails.</p>
    """]]
    </div>

    <div id="step-download-torrent">
      <h3><span class="step-number"><span class="debian windows linux mac-usb mac-dvd upgrade-tails">1.</span>1</span>Download Tails (Torrent file)</h3>
      <a href="[[!inline pages="inc/stable_amd64_torrent_url" raw="yes" sort="age"]]" id="download-torrent" class="btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] Torrent file</a>
    </div>

    <div id="step-verify-bittorrent">
      <h3><span class="step-number"><span class="debian windows linux mac-usb mac-dvd upgrade-tails">1.</span>2</span>Verify your download using BitTorrent</h3>
      <p class="indent">Your BitTorrent client will automatically verify your download when it is complete.</p>
    </div>

    <div id="step-continue-bittorrent">
      <h3><span class="step-number"><span class="debian windows linux mac-usb mac-dvd upgrade-tails">1.</span>3</span>Continue
          <span class="debian windows linux mac-usb mac-dvd">installing</span>
          <span class="upgrade-tails">upgrading</span>
          <span class="download-only">installing or upgrading</span></h3>
      <p class="debian windows linux mac-usb mac-dvd upgrade-tails indent">Open and download
      the Torrent file with your BitTorrent client. It contains the
      Tails [[!inline pages="inc/stable_amd64_version" raw="yes"
      sort="age"]] ISO image that you will use in the next step.</p>
    </div>
    <div id="continue-link-bittorrent" class="indent">
      <div id="skip-download-bittorrent">
        <span class="debian">[[Skip download|debian/usb]]</span>
        <span class="windows">[[Skip download|win/usb]]</span>
        <span class="linux">[[Skip download|linux/usb]]</span>
        <span class="mac-usb">[[Skip download|mac/usb]]</span>
        <span class="mac-dvd">[[Skip download|mac/dvd]]</span>
        <span class="dvd">[[Skip download|dvd]]</span>
        <span class="vm">[[Skip download|doc/advanced_topics/virtualization]]</span>
        <span class="upgrade-tails">[[Skip download|upgrade/tails]]</span>
      </div>
      <div id="next-bittorrent">
        <div class="debian">[[<div class="btn btn-primary inline-block">Next: Install <em>Tails Installer</em> (<span class="next-counter"></span>)</div>|debian/usb]]</div>
        <div class="windows">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|win/usb]]</div>
        <div class="linux">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|linux/usb]]</div>
        <div class="mac-usb">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|mac/usb]]</div>
        <div class="mac-dvd">[[<div class="btn btn-primary inline-block">Next: Burn a Tails DVD (<span class="next-counter"></span>)</div>|mac/dvd]]</div>
        <div class="upgrade-tails">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|upgrade/tails]]</div>
        <div class="dvd">[[<div class="btn btn-primary inline-block">Next: Burning Tails on a DVD</div>|dvd]]</div>
        <div class="vm">[[<div class="btn btn-primary inline-block">Next: Virtualization</div>|doc/advanced_topics/virtualization]]</div>
        <ul class="download-only">
          <li>[[Install from Windows|install/win/usb]]</li>
          <li>[[Install from Debian, Ubuntu, or Mint|install/debian/usb]]</li>
          <li>[[Install from other Linux distributions|install/linux/usb]]</li>
          <li>[[Install from macOS by burning a DVD first|install/mac/dvd]]</li>
          <li>[[Install from macOS and the command line|install/mac/usb]]</li>
          <li>[[Burn on a DVD|dvd]]</li>
          <li>[[Run in a virtual machine|doc/advanced_topics/virtualization]]</li>
          <li>[[Upgrade inside Tails|upgrade/tails]]</li>
        </ul>
      </div>
    </div>
  </div> <!-- BitTorrent download -->

</div>

<div id="openpgp">

<h2>Verify using OpenPGP (optional)</h2>

<p>If you know OpenPGP, you can also verify your download using an
OpenPGP signature instead, or in addition to, our browser extension or
BitTorrent.</p>

<ol>
  <li>
   <p>Download the [[Tails signing key|tails-signing.key]].</p>
  </li>

  <li>
   <p>Download the <a href='[[!inline pages="inc/stable_amd64_iso_sig_url" raw="yes" sort="age"]]'>
   Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] OpenPGP signature</a>
   and save it to the same folder where
   you saved the ISO image.</p>
  </li>
</ol>

<h3>Basic OpenPGP verification</h3>

<p>Verifying using OpenPGP but without authenticating our signing key
through the OpenPGP Web of Trust is equivalent in terms of security to
verifying using our browser extension or BitTorrent because it relies on
downloading a genuine signing key from our website.</p>

[[!toggle id="basic-openpgp" text="See instructions for basic OpenPGP verification."]]

[[!toggleable id="basic-openpgp" text="""
<span class="hide">[[!toggle id="basic-openpgp" text=""]]</span>

<p>This section provides simplified instructions:</p>

<ul>
  <li><a href="#windows">In Windows with <span class="application">Gpg4win</span></a></li>
  <li><a href="#mac">In macOS with <span class="application">GPGTools</span></a></li>
  <li><a href="#tails">In Tails</a></li>
  <li><a href="#command-line">Using the command line</a></li>
</ul>

<a id="windows"></a>

<h3>In Windows with <span class="application">Gpg4win</span></h3>

<p>See the [[<span class="application">Gpg4win</span> documentation on
verifying signatures|http://www.gpg4win.org/doc/en/gpg4win-compendium_24.html#id4]].</p>

<p>Verify the date of the signature to make sure that you downloaded the latest version.</p>

<p>If the following warning appears:</p>

<pre>
Not enough information to check the signature validity.
Signed on ... by tails@boum.org (Key ID: 0x58ACD84F
The validity of the signature cannot be verified.
</pre>

<p>Then the ISO image is still correct according to the signing key that you
downloaded. To remove this warning you need to <a href="#wot">authenticate the
signing key through the OpenPGP Web of Trust</a>.</p>

<a id="mac"></a>

<h3>In macOS using <span class="application">GPGTools</span></h3>

<ol>
  <li>
   Open <span class="application">Finder</span> and navigate to the
   folder where you saved the ISO image and the signature.
  </li>

  <li>
   Right-click on the ISO image and choose
   <span class="guimenuchoice">
     <span class="guisubmenu">Services</span> ▸
     <span class="guimenuitem">OpenPGP: Verify Signature of File</span></span>.
  </li>
</ol>

<a id="tails"></a>

<h3>In Tails</h3>

<ol>
  <li>
   Open the file browser and navigate to the folder where you saved the
   ISO image and the signature.
  </li>

  <li>
   Right-click on the signature and choose <span class="guimenuitem">Open With
   Verify Signature</span>.
  </li>

  <li>
   The verification of the ISO image starts automatically:

   <p>[[!img install/inc/screenshots/verifying_in_tails.png link="no"]]</p>
  </li>

  <li>
   After the verification finishes, you should see a notification that the
   signature is good:

   <p>[[!img install/inc/screenshots/notification_in_tails.png link="no"]]</p>

   <p>Verify the date of the signature to make sure that you downloaded the latest version.</p>
  </li>
</ol>

<a id="command-line"></a>

<h3>Using the command line</h3>

<ol>

  <li>
   Open a terminal and navigate to the folder where you saved the ISO
   image and the signature.
  </li>

  <li>
   <p>Execute:</p>

   <p class="pre">[[!inline pages="inc/stable_amd64_gpg_verify" raw="yes" sort="age"]]</p>

   <p>The output of this command should be the following:</p>

   <p class="pre">[[!inline pages="inc/stable_amd64_gpg_signature_output" raw="yes" sort="age"]]</p>

   <p>Verify the date of the signature to make sure that you downloaded the latest version.</p>

   <p>If the output also includes:</p>

   <p class="pre">
   gpg: WARNING: This key is not certified with a trusted signature!<br/>
   gpg:          There is no indication that the signature belongs to the owner.<br/>
   </p>

   <p>Then the ISO image is still correct according to the signing key that you
   downloaded. To remove this warning you need to <a href="#wot">authenticate
   the signing key through the OpenPGP Web of Trust</a>.</p>
  </li>

</ol>

"""]]

<a id="wot"></a>

<h3>Authenticate the signing key through the OpenPGP Web of Trust</h3>

<p>Authenticating our signing key through the OpenPGP Web of Trust is
the only verification technique that can protect you in case our website
is compromised. It is also the most complicated technique and might not
be possible for everyone to perform because it relies on trust
relationships between individuals.</p>

[[!toggle id="web-of-trust" text="Read more about authenticating the Tails signing key through the OpenPGP Web of Trust."]]

[[!toggleable id="web-of-trust" text="""
<span class="hide">[[!toggle id="web-of-trust" text=""]]</span>

<p>The verification techniques presented until now (browser extension,
BitTorrent, or OpenPGP verification) all rely on some
information being securely downloaded using HTTPS from our website:</p>

<ul>
  <li>The <em>checksum</em> for the Firefox extension</li>
  <li>The <em>Torrent file</em> for BitTorrent</li>
  <li>The <em>Tails signing key</em> for the OpenPGP verification</li>
</ul>

<p>But, while doing so, you could download malicious information if our
website is compromised or if you are a victim of a [[man-in-the-middle
attack|doc/about/warning#man-in-the-middle]].</p>

<p>The OpenPGP verification is the only technique that allows you to verify the ISO image even better
by also authenticating the Tails signing key through the OpenPGP Web of
Trust. Relying on the OpenPGP Web of Trust is the only way to completely
protect you from malicious downloads.</p>

<div class="note">

<p>If you are verifying an ISO image from inside Tails already, for
example to do a manual upgrade, then the Tails signing key is already
included in Tails. You can trust this signing key as much as you are trusting your
Tails installation already because you are not downloading it.</p>

</div>

<p>One of the inherent problems of standard HTTPS is that the trust we usually put
in a website is defined by certificate authorities: a hierarchical and closed
set of companies and governmental institutions approved by your web browser vendor.
This model of trust has long been criticized and proved several times to be
vulnerable to attacks [[as explained on our warning page|doc/about/warning#man-in-the-middle]].</p>

<p>We believe that, instead, users should be given the final say when trusting a
website, and that designation of trust should be done on the basis of human
interactions.</p>

<p>The OpenPGP [[!wikipedia Web_of_Trust]] is a
decentralized trust model based on OpenPGP keys that can help solving
this problem. Let's see this with an example:</p>

<ol>
  <li>
   <em>You are friends with Alice and really trust her way of managing
   OpenPGP keys. So you are trusting Alice's key.</em>
  </li>

  <li>
   <em>Furthermore, Alice met Bob, a Tails developer, in a conference and certified
   Bob's key. So Alice is trusting Bob's key.</em>
  </li>

  <li>
    <em>Bob is a Tails developer who directly owns the Tails signing key. So
   Bob fully trusts the Tails signing key.</em>
  </li>
</ol>

<p>In this scenario, Alice found a path to trust the Tails signing key
without the need to rely on certificate authorities.</p>

<div class="tip">

<p>If you are on Debian, Ubuntu, or Linux Mint, you can install the
<code>debian-keyring</code> package which contains the OpenPGP keys of
all Debian developers. Some Debian developers have certified the Tails
signing key and you can use these certifications to build a trust path.
This technique is explained in detail in our instructions on
[[installing Tails from Debian, Ubuntu, or Linux Mint using the command
line|install/expert/usb]].</p>

</div>

<p>Relying on the Web of Trust requires both caution and intelligent supervision
by the users. The technical details are outside of the scope of this document.</p>

<p>Since the Web of Trust is actually based on human relationships and
real-life interactions, the best is to get in touch with people
knowledgeable about OpenPGP and build trust relationships in order to
find your own trust path to the Tails signing key.</p>

<p>For example, you can start by contacting a local [[!wikipedia Linux_User_Group]],
[[an organization offering Tails training|support/learn]], or other Tails
enthusiasts near you and exchange about their OpenPGP practices.</p>

<div class="tip">

<p>After you build a trust path, you can certify the Tails signing key by
signing it with your own key to get rid of some warnings during the
verification process.</p>

</div>

"""]]

</div>
